body {
    background-color: rgb(245, 197, 166);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

form div {
    margin-bottom: 15px;
    width: 23.5%;
    display: flex;
    justify-content: space-between;
}

nav a {
    padding: 12px;
    margin-right: 12px;
    border: 1px solid #fff;
    background-color: #fff;
    text-decoration: none;
    color: #F5C5A6;
    font-size: 22px;
    font-weight: bold;
}

span {
    display: block;
    color: red;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}