body {
    background-color: rgb(245, 197, 166);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

form div {
    margin-bottom: 15px;
    width: 23.5%;
    display: flex;
    justify-content: space-between;
}