<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Connexion</title>
</head>
<body>
    <h1>Connectez-vous ici !</h1>

    <form method="POST">
        <div>
            <label for="pseudo">Pseudo: </label>
            <input type="text" name="pseudo">
        </div>
        <div>
            <label for="password">Mot de passe: </label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="envoyer">Connexion</label>
            <input type="submit" name="envoyer">
        </div>
    </form>

</body>
</html>