doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(href="/css/styles.css" rel="stylesheet" type="text/css")
    title Connexion
  body
    h1 Connectez-vous ici !
    form(method="POST")
      div
        label(for="pseudo") Pseudo: 
        input(type="text" name="pseudo")
      div
        label(for="password") Mot de passe: 
        input(type="text" name="password")
      div
        label(for="envoyer") Connexion
        input(type="submit" name="envoyer")

    script(src=process.env.BROWSER_REFRESH_URL)